name: Node Test

on:
  pull_request:
    branches:
      - main
    paths:
      - "**.jsx?"
      - "**.json"

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      packages: read
      contents: read
      pull-requests: read
    env:
      NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
          registry-url: https://npm.pkg.github.com/
          cache: 'npm'
          cache-dependency-path: subdir/package-lock.json

      - name: Install dependencies from npm
        run: npm ci

      - name: Build packages
        run: npm run build

      - name: Test packages
        run: npm run test
